################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calculadora.Api/bin/Debug/netcoreapp3.1
/Calculadora.Api/obj
/Calculadora.Application/obj
